.container{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex:1;
    justify-content: center;
    flex-direction: column;
}

.content{
    background-image: url("https://www.kotakode.com/static/media/BackgroundFAQ.82a9976b.png");
    border-radius: 0px 0px 24px 24px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex:1;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
    align-items: center;
}

.text1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: rgb(254, 254, 254);
    
}
.text2{
    display: block;
    font-size: 14px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: rgb(254, 254, 254);
}
.containerAbout{
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    flex:1;
    justify-content: center;
    align-content: center;
}
.line{
    width: 7rem;
    height: 4px;
    display: inline-flex;
    background: #EA6C1E;
    border-radius: 9999px;
    display: flex;
   
}

.wrapperLine{
    display: flex;
    margin-top: 6rem;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
}
.card{
    position: absolute;
    background: #FEFEFE;
    box-shadow: -5px 10px 15px rgb(0 0 0 / 25%);
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin-top: -2rem;
    min-width: 180px;
}
.text3{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

.text4{
    max-width: 950px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    color: #757575;
    max-width:950px;
}