.text1{
    color: #263238;
    font-size: 40px;
    font-weight: bold;
    max-width: 300px;
}
.text2{
    font-size: 20px;color: #263238;
    max-width: 90%;
}
.container{
    padding:100px;
    display: flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
}

.column1{
    flex:1;
    display :flex; 
    flex-direction: column;
    justify-content: center;
}
.column2{
    flex:1;
    display :flex; 
    flex-direction: column;
}

.wrapperCard1{
    align-self: flex-end;
}
.wrapperCard3{
    align-self: flex-end;
}

.wrapperCard2{
    padding-left: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    align-self: flex-start;
}