.container{
    display: flex;
    flex:1;
    flex-direction: row; 
    padding-top: 80px;   
    padding-left:100px ;
    padding-right:100px ;
    flex-wrap: wrap;
}
.contentLeft{
    flex:1;
    display: flex;
    flex-wrap: wrap;
}
.contentRight{
    display: flex;
    flex:1;
    background-size: 50%;
    padding-right: 20px;
    flex-wrap: wrap;
}

.textBig{
    font-size: 50px;
    font-weight: 500;
    max-width: 600px;
}
.textNormal{
   
    font-size: 18px;
    max-width: 380px;
}
.content{
    max-width: 600px;
}
.register{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputWrapper{
    padding-right: 15px;
    flex-wrap: wrap;
}
.input{
    width: 170px;
    height: 35px;

    padding-left: 10px; 
    border-radius:5;
    border-color: #FA883A ;
}
input::placeholder {
    border-radius: 5;
    opacity: .5;
    border-radius: 5 5 5 5;
    border-width: 1;
    padding-left: 5px;
    border-color:#FA883A ;
    flex-wrap: wrap;
}
.wrapperDataOverview{
    padding-top: 50px;
    flex-direction: row;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}