.container{
    padding : 100px;
    background-color: "#ffffff";
    display: flex;
    flex:1;
}
.card{
    background-color: #71CA9B;
    border-radius: 20px;
    display: flex;
    flex: 1;
    padding: 40px;
}
.content{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.column1{
    display: flex;
    flex-direction: column;
}
.column2{
    display: flex;
    
}
.column3{
    display: flex;
    
}
.cardSmall{

}